*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
h1,h3{
	font-weight: normal;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.gWidth{
	width: 960px;
	margin: 0 auto;
}
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	width: 1900px;
	background: #F7F7F7;
	margin: 0 auto;
}
.nav{
	padding-top: 8px;
	background:url(images/dl-bg.png) no-repeat;
	position: relative;
}
.nav div.a{
	position: relative;
	top:-40px;
	text-align: right;
}
.nav div.a a{
	font-weight: bold;
	color:#fff;
}
.form .d1{
	margin-left: 28px;
	margin-top: 30px;
	padding:13px 0 6px 17px;
	background: url(images/dl-bg2.png) no-repeat;
}
.form .d1 .p1{
	font-size: 12px;
	line-height: 36px;
	color: #333333;
}
.form .d1 .p1 span{
	color: #0D89E9;
	cursor: pointer;
}
.form .d1 .p2{	
	font-size: 12px;
	line-height: 22px;
	color: #333333;
}
.form .d1 .p2 span{
	color: #666666;
}
.form .d2{
	margin-top: 10px;
	margin-left: 28px;
}
.form .d2 p{
	text-align: center;
	background: url(images/dl-bg3.png) no-repeat;
	line-height: 58px;
}
.form .d2 p a{
	font-weight: bold;
	color: #fff;
}
.footer{
	padding-top: 540px;
	padding-bottom:10px;
}
.footer p{
	font-size: 12px;
	color:#656565;
	line-height: 28px;
	text-align: center;
}
