*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
h1,h3{
	font-weight: normal;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.gWidth{
	width: 960px;
	margin: 0 auto;
}
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	width: 1900px;
	background: #ECF9F1;
	margin: 0 auto;
}
.nav{
	height: 38px;
	background: #4CACF8;
}
.nav a{
	line-height: 38px;
	font-size: 14px;
	color: #fff;
}
.head{
	width: 936px;
	background:#F6F6F6;
	border-bottom: 2px solid #DFDEDE;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 15px;
}
.head p{
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.content{
	background:#fff;
}
.cont1 ul li{
	float: left;
	height: 31px;
	line-height: 31px;
	border: 1px solid #4FACF6;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 6px;
	margin-top: 18px;
	color: #38A5FB;
	cursor: pointer;
	border-radius: 2px;
}
.cont1 ul li.act,.cont1 ul li:hover{
	border: 1px solid #FF9C71;
}
.cont1 ul li span{
	color: #FF0000;
}
.cont1 ul li.l1{
	font-size: 16px;
	color: #B9BFC5;
	border: 1px solid #d1d1d1;
}
.cont2{	
	margin-top: 16px;
	margin-left: 6px;
}
.cont2 ul li{
	float: left;
	width: 121px;
	height: 34px;
	line-height: 34px;
	text-align: center;	
	margin-right: -1px;
	border:1px solid #DBDBDB;
	border-radius: 8px 8px 0 0;
	cursor: pointer;
}
.cont2 ul li.active{
	border-bottom: none;
	height: 34px;
	font-weight: bold;
	color:#4CACF8;
}
.cont2 .d{
	width: 862px;
	height: 387px;
	border:1px solid #DBDBDB;
	margin-top: -1px;
	padding-left: 80px;
	padding-top: 45px;
}
.cont2 .d p{
	font-size: 14px;
	color: #656565;
	line-height: 33px;
}
.cont2 .d p span{
	color: #000;
}
.cont2 .d p.p{
	color:#4BABF7;
}
.cont2 .show p span.s1,.cont2 .show p span.s4{
	padding-top: 7px;
	padding-left: 34px;
	padding-bottom: 6px;
	padding-right: 53px;
	color: #FF0000;
	font-size: 12px;
	background: url(images/gr-bg1.png) no-repeat;
}
.cont2 .show p span.s2{
	display: inline-block;
	width: 96px;
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	background-color: #06B0FF;
	text-align: center;
	color: #fff;
	margin-left: 10px;
	border-radius: 5px;
}
.cont2 .show p span.s3{
	font-size: 12px;
	color: #FF0000;
}
.cont2 .show p.tj{
	background: url(images/gr-bg2.png)no-repeat;
	width: 182px;
	line-height: 50px;
	text-align: center;
	font-family: '微软雅黑';
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}
.cont2 .show p.tj a{	
	color: #fff;
}




.cont2 .d div{
	display: none;
}
.cont2 .d .show{
	display: block;
}
.footer{
	background: #fff;
	padding-top: 48px;
	padding-bottom:10px;
}
.footer p{
	font-size: 12px;
	color:#656565;
	line-height: 28px;
	text-align: center;
}